<div class="content-container">
    <button class="cta-btn" id="open">Adicionar</button>
</div>    
<section class="modal-container" id="modal">
    <section class="modal">
        <button class="close-btn" id="close">x</button>
        <div class="modal-content">
            <h1>naosei</h1>
            <form class="modal-form">
                <div>
                    <label for="name">Nome</label>
                    <input 
                    type="text" 
                    id="name" 
                    placeholder="Insira o nome" 
                    class="form-input">
                </div>
                <div>
                    <label for="descricao">Descrição</label>
                    <input 
                    type="text" 
                    id="descricao" 
                    placeholder="Insira a Descrição" 
                    class="form-input">
                </div>
                <div>
                    <label for="preco">Preço</label>
                    <input 
                    type="number" 
                    step="0.01"
                    id="preco" 
                    placeholder="Insira o preço" 
                    class="form-input">
                </div>
                <div>
                    <label for="estoque">Estoque</label>
                    <input 
                    type="number" 
                    id="estoque" 
                    placeholder="Insira o estoque" 
                    class="form-input">
                </div>
                <input type="submit" value="Criar" class="submit-btn">
            </form>
        </div>
    </section>
</section>